@using System.Security.Claims;

<h2>Add Image</h2>

<div style="max-width: 600px" class="mx-auto">
    <form method="post" asp-action="CreateImage" enctype="multipart/form-data">
    <div class="form-group">
        <label for="description">Image</label>
        <input type="file" class="form-control" name="Image" required>
    </div>

    <input type="hidden" name="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
    <input type="hidden" name="AlbumId" value="@ViewBag.AlbumId" />

    <div class="form-group mt-1">
        <button type="submit" class="btn btn-primary" style="width: 100%">Create</button>
    </div>
</form>
</div>
