@using PhotoGallery.Application.Features.Albums.Queries.ListPagedAlbums;

@model PagedList<ListPagedAlbumsDto>

@{
    var pagerModel = new PagerModel
    {
        PageData = Model,
        Controller = "Home",
        Action = "Index"
    };
}

<h2>Albums</h2>
<div class="row">
    @foreach (var album in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@album.Title</h5>
                    <p class="card-text">@album.Description</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary mr-2">Details</a>
                </div>
            </div>
        </div>
    }
</div>

<partial name="_PagerPartialView" model="pagerModel" />

<a asp-action="UserAlbums">Click</a>